* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: black;
    scrollbar-width: 20px;
}
body {
    display: flex;
    justify-content: center;
    background-position: center;
    margin: auto;

}
h1{
    font-size: 2em;
    color: white;
    font-family: Courier, monospace;
    text-shadow: 0 0 7px white;
    padding: 15px 45px;
    background-color: transparent;
    justify-content: center;
    margin-top: 20%;
}
button{
    padding: 10px;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    font-family: Courier, monospace;
    width: 250px;
    margin-top: 450px;
    margin-left: -325px;
    border: 3px solid;
    border-color: white;
    animation: none;
}
button::hover{
    text-shadow: 0 0 10px white;
    text-shadow: 0 0 7px white;
}
