

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.menu{
    border: 0;
    font-size: 30px;
    background-color: transparent;
    margin: 20px;
    z-index: 2;
    position: absolute;
    top: 0;
}
.navbar{
    position: absolute;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -300px;
    transition: ease 700ms;
    top: 0;
}
.nava{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 20px 20px 0;
    justify-content: start;
    height: 100%;
    padding-top: 50px;
}
.nava li{
    font-size: 30px;
    margin: 10px 0px 0px 10px;
    font-family: 'Times New Roman';
}
.nava li a{
    color: aliceblue;
}
.navbar.close{
    margin-left: 0px;
}