* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header .logo {
    font-size: 25px;
    color: #000000;
    user-select: none;

}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: aliceblue;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    min-width: 320px;
    max-width: 1080px;
    margin: auto;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);



}

.logo {
    font-size: 20px;
    color: #000000;
    user-select: none;

}

.navigation a {
    position: relative;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    margin-left: 25px;

}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.caixa {
    position: relative;
    width: 100%;
    z-index: 1;
}

.texto {
    position: relative;
    margin-top: 150px;
    font-size: 6vw;
    font-family: Georgia;
    margin-left: -150px;

}

.icone {
    margin-top: 30px;
    font-size: 20vw;
    margin-left: -150px;

}

.texto2 {
    position: relative;
    font-size: 3vw;
    font-family: Georgia;
    margin-left: 20%;
    margin-top: -300px;
    width: 700px;
}
::-webkit-scrollbar {
    display: none;
}
.agenda {
    margin-top: 100%;
    margin-left: -1000px;
    width: 70%;
    height: 80%;
    background-color: transparent;
    border:  #000000 ;
    border-radius: 15px;
    position: relative;
    justify-content: flex-start;
}

.segunda {
    width: 25%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;

}

.terca {
    width: 25%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
    margin-left: 26%;
    margin-top: -360px;
}

.quarta {
    width: 25%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
    margin-left: 52%;
    margin-top: -360px;
}

.quinta {
    width: 25%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
    margin-left: 78%;
    margin-top: -360px;
}

.hora {
    width: 200px;
    height: 60px;
    justify-content: center;
    border: 4px #000000 solid;
    border-radius: 10px;
    background-color: transparent;
    margin-left: -50px;
    cursor: pointer;
}
.horai {
    padding: 25px 105px 25px 95px;
    justify-content: center;
    border: 4px #000000 solid;
    border-radius: 10px;
    background-color: rgba(255, 00, 0, 0.5);
    
}
.linkagenda{
    transition-duration: 1s;
    transition: 0.5s;
}
form{
    position: absolute;
    margin-top: 2000px;
    width: 500px;
    margin-left: -800px;
    height: 100px;
}
