

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.login{
    position: absolute;
    margin-left: 1350px;
    margin-top: 10px;
    font-size: 20px;
    font-family:sans-serif ;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 10px 40px;
    border: 6px;
    transition: 0.4s;
}
.login:hover{
    position: absolute;
    margin-left: 1350px;
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: transparent;
    border: 6px black;
    color: black;
    border-radius: 6px;
    padding: 10px 40px;
}
.menu{
    border: 0;
    font-size: 30px;
    background-color: transparent;
    margin: 20px;
    z-index: 2;
    position: absolute;
    top: 0;
}
nav ul li .um{
    font-style: none;
    font-style: normal;
    color: black;
    text-decoration: none;
}
.navbar{
    position: absolute;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -300px;
    transition: ease 700ms;
    top: 0;
}
.nava{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 20px 20px 0;
    justify-content: start;
    height: 100%;
    padding-top: 50px;
}
.nava li{
    font-size: 20px;
    margin: 10px 0px 0px 10px;
    font-family: sans-serif;
}
.nava li a{
    color: aliceblue;
}
.navbar.close{
    margin-left: 0px;
}
.navigation{
    justify-content: center;
    margin-left: 35%;
    margin-top: 25px;
}
.navigation a{
    position: relative;
    font-size: 1.1vw;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    margin-left: 40px;
    
}
.navigation a::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    background: rgb(0, 0, 0);
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
    border-radius: 5px;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
