@import url('file:///C:/Users/Rodolfo/Documents/4%20Arthur%20ok%202020/python/site/site ebooks.html');
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
